body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: beige;
}

main {
    display: flex;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

main{
    display: flex;
}
  
section{
    flex: 1
}

#Users{
    display: flex;
    flex-direction: column;
}

#User div{
    display: flex;
    flex-direction: column;
}

.selected a {
    color:cadetblue;
}

ul#ShowUsers{
    list-style-type: none;
}

ul#UserStory{
    list-style-type: none;
}

li#DisplayUser{
    display: flex;
}

li#DisplayUser a{
    flex: 0.25;
}

li#DisplayUser > *{
    margin: 0.15rem;
}

div#Title{
    display: flex;
    flex-direction: row;
}

div#Title > *{
    margin: 0.20rem;
}

.TitleFavorite{
    color: green;
}